﻿@using FizzBuzzApplication.Web.Helper
@using PagedList.Mvc
@model FizzBuzzApplication.Web.Models.FizzBuzzModel

@{
    ViewBag.Title = "Display";
}

@using (Html.BeginForm("DisplayList", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Input, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Input, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Input, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @{
        if (Model != null)
        {
            @Html.PrintList(Model.FizzBuzzList)

            <div>
                Page @(Model.FizzBuzzList.PageCount < Model.FizzBuzzList.PageNumber ? 0 : Model.FizzBuzzList.PageNumber) of @Model.FizzBuzzList.PageCount
                @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GetPagedList", new { Input = Model.Input, page }), PagedListRenderOptions.TwitterBootstrapPager)
            </div>
        }
    }
</div>